.card{
    background-color: rgb(244, 236, 230);
    transform: translate(25% , 10%);
    padding: 1rem;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.269);
    border: none;
    border-radius: 0;
    }
    
    .card_img{
        background-image: url(../Images/homeBg.png);
        background-position:  center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 5rem ;
    }
    .card h1{
    font-size: 1.5rem;
    position:relative;
    }
    .card h2{
        font-size: 1.4rem;
        text-align: center;
    }  
    
    .card h1::after{
        content: '';
        background-color: var(--greenColor);
        width: 30%;
        height: 1px;
        display: inline-block;
position:absolute;
bottom:-25%;
left:50%;
transform: translate(-50%,0%);

    
    }
    .cart_footer{
      width: 100%;
       background-color: #3c3c3c0d;
       padding: 0.5rem;
    }
    
    .info{
        padding: 5rem 5rem 0rem 7rem;
        background-color:rgb(237, 236, 235) ;
    
    }
    .info button   , #resume button{
        padding: 0.5rem 1.2rem;
        margin: 0.5rem;
        border-radius: 50px;
        border: 1px solid #000;
        text-transform: uppercase;
        font-size: 0.9rem;
        color: #000;
        background-color: transparent;
    transition: all 0.7s;
    
    }
    .info button:first-child , .info button:last-child:hover ,  #resume button:hover{
        background-color: var(--greenColor);
        border-color: var(--whiteColor);
        color: var(--whiteColor);
    }
    .info button:first-child:hover{
        color: var(--greenColor);
        background-color: transparent;
        border-color: var(--greenColor);
    }

    .iconStyle{
    cursor: pointer;
    transition: all 0.7s;
    transform:scale(0.5);
}

.iconStyle:hover{
    color: gray;
    transform: rotate(2deg) scale(0.6);
}

.cart_footer>a{
    color:black !important;

}
.personalInfo{
    position:relative;

}
  
.personalInfo::after{
    content: '';
    background-color: var(--greenColor);
    width: 30%;
    height: 1px;
    display: inline-block;
position:absolute;
bottom:0%;
left:50%;
transform: translate(-50%,0%);


}
@media screen and (max-width:550px){
   
    .card h2{
     font-size: 0.9rem !important;
     }
     .card h1{
         font-size: 1.2rem ;
     }
     .info{
        padding: 5rem 5rem 0rem;
     }
 
 }


        @media screen and (min-width:551px) and (max-width:768px) {
        .card{
            width: 90%;
        }
        .card h1{
        font-size: 1.4rem;

        }
            .card h2{
                font-size: 1.1rem;

            }
        }
        @media screen and (min-width:769px) and (max-width:1100px) {
        .card{
            width: 180%;
    transform: translate(-5% , 10%);
        }
        
        .card h1{
            font-size: 1.3rem ;
            }
        .card h2{
            font-size: 1.1rem ;
            }   
                
        }
        @media screen and (min-width:890px) and (max-width:1300px) {
            .card{
                width: 140%;
                transform: translate(5% , 10%);
            }
            .card h1{
                font-size: 1.4rem;

            }
        }
       